* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Grid */
.row {
  clear: both;
  width: 100%; }

.col {
  float: left; }

.one-of-twelve {
  margin: 0 1% 1% 0;
  /* 5px/1000px */
  width: 7.41%;
  /* [(1000/12)-10]/100 : [(width/# of columns)-margin]/100*/ }
  .one-of-twelve:last-child {
    margin-right: 0; }

.one-of-six, .two-of-twelve {
  margin: 0 2% 2% 0;
  /* 10px/1000px */
  width: 15%;
  /* .one-of-twelve width*2 */ }
  .one-of-six:last-child, .two-of-twelve:last-child {
    margin-right: 0; }

.one-of-five {
  margin: 0 2% 2% 0;
  width: 17.5%; }

.three-of-five {
  margin: 0 2% 2% 0;
  width: 52.5%; }

.one-of-four {
  margin: 0 2% 2% 0;
  /* 15px/1000px */
  width: 23.5%;
  /* .one-of-twelve width*3 */ }
  .one-of-four:last-child {
    margin-right: 0; }

.three-of-four, .nine-of-twelve {
  margin: 0 2% 2% 0;
  width: 73.5%;
  /* .one-of-four width * 3 */ }
  .three-of-four:last-child, .nine-of-twelve:last-child {
    margin-right: 0;
    width: 73.5%; }

.one-of-three, .two-of-six {
  margin: 0 2% 2% 0;
  /* 20px/1000px */
  width: 32%;
  /* .one-of-twelve width*4 */ }
  .one-of-three:last-child, .two-of-six:last-child {
    margin-right: 0; }
  @media (max-width: 740px) {
    .one-of-three, .two-of-six {
      min-height: 150px; } }
  @media (max-width: 635px) {
    .one-of-three, .two-of-six {
      width: 98%; } }

.two-of-three {
  margin: 0 2% 2% 0;
  width: 64%;
  /* .one of three * 2 */ }
  .two-of-three:last-child {
    margin-right: 0; }

.one-of-two, .three-of-six {
  margin: 0 2% 2% 0;
  /* 30px/1000px */
  width: 49%;
  /* .one-of-twelve width*6 */ }
  .one-of-two:last-child, .three-of-six:last-child {
    margin-right: 0; }
  @media screen and (max-width: 530px) {
    .one-of-two, .three-of-six {
      width: 100%; } }

.one-of-one {
  width: 100%; }

/* Base */
html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: scroll; }

.page-wrapper {
  padding: 0 12px;
  position: relative;
  width: 100%;
  height: 100%; }

.container {
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  max-width: 1000px;
  min-width: 320px; }

section {
  clear: both;
  margin: 0 0 2rem 0;
  padding: .5rem 0;
  overflow: hidden; }

h1 {
  font-size: 24px; }

a {
  color: #666;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.meta {
  background: #e4e6e5;
  color: #666;
  font-size: 12px;
  line-height: 18px;
  height: 28px;
  margin-bottom: 0;
  width: 100%; }
  @media screen and (max-width: 530px) {
    .meta {
      height: auto;
      font-size: inherit;
      text-align: center; } }
  .meta a:hover {
    color: #333;
    text-decoration: none; }
  .meta .icon-mail-1 {
    margin: 0 5px 0 10px; }
  .meta .one-of-four {
    text-align: right; }
  .meta .contact {
    text-align: right; }
    @media screen and (max-width: 530px) {
      .meta .contact {
        text-align: center; } }

header {
  background: white;
  display: block;
  height: 60px;
  margin-bottom: 12px;
  z-index: 101; }

#logo {
  margin: 12px 15px 0 0; }

#top-nav {
  border-bottom: 1px solid #d5d5d5;
  color: #333;
  font-size: 14px;
  height: 26px;
  padding-bottom: 10px;
  position: relative; }
  #top-nav ul > li {
    border-left: 1px solid #d5d5d5;
    cursor: pointer;
    float: left;
    height: 16px;
    padding: 0 16px; }
    #top-nav ul > li:first-child {
      border-left: none;
      padding-left: 0; }
  #top-nav .sale a {
    color: #dd0017;
    font-weight: 500; }

.popup-nav {
  background: white;
  border: 1px solid #b6b8b7;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.4);
  left: 0;
  opacity: 0;
  padding: 12px 11px 12px 0;
  position: absolute;
  top: 25px;
  width: 100%;
  z-index: 12; }
  .popup-nav.visible {
    opacity: 1; }
  .popup-nav:before {
    color: white;
    content: '\e809';
    font-family: 'fontello';
    font-size: 30px;
    left: 16px;
    position: absolute;
    text-shadow: 0px -2px 0px #b6b8b7;
    top: -19px; }
  .popup-nav .one-of-four {
    margin: 0; }
  .popup-nav .shop-all-women {
    float: right;
    font-size: 12px;
    letter-spacing: .15px;
    margin-top: 12px;
    position: relative;
    text-decoration: underline;
    text-align: right; }
    .popup-nav .shop-all-women:hover {
      color: #333;
      text-decoration: underline; }
  .popup-nav .icon-right-open-big {
    color: #dd0017; }
  .popup-nav .menu-image {
    padding-left: 12px;
    width: 29%; }
    .popup-nav .menu-image img {
      width: 100%; }
  .popup-nav ul {
    border-right: 1px solid #b6b8b7;
    padding: 12px 0; }
  .popup-nav .border-bottom {
    border-bottom: 1px solid #b6b8b7;
    padding-top: 0; }
  .popup-nav a:hover {
    text-decoration: none; }
  .popup-nav li {
    color: #333;
    font-size: 12px;
    font-weight: 400;
    padding: 6px 0 6px 14px;
    width: 100%; }
    .popup-nav li:hover {
      background: #f7f7f7;
      color: #666; }
    .popup-nav li.category {
      color: #666;
      font-size: 14px;
      font-weight: 500;
      line-height: 13px; }
      .popup-nav li.category:hover {
        color: #000; }

.cart {
  border-right: 1px solid #d5d5d5;
  padding-right: 12px; }

.login {
  margin-left: 12px; }

#shop {
  margin-top: 24px;
  text-align: right; }
  @media screen and (max-width: 860px) {
    #shop {
      float: right;
      margin-right: 20px; } }

#rotator {
  margin: 12px 0;
  padding: 0;
  position: relative; }

.sidebar {
  background: #f4f4f4;
  color: #444;
  font-size: 11px;
  line-height: 13px;
  height: 100%;
  margin-bottom: 0;
  text-transform: uppercase; }
  .sidebar h2 {
    color: #444;
    font-weight: 600; }
  .sidebar a {
    color: #999; }
    .sidebar a:hover {
      color: #dd0017;
      text-decoration: none; }
  .sidebar li {
    padding: 3px; }
  .sidebar ul {
    border-bottom: 1px solid #d5d5d5;
    padding: 5px; }
  @media screen and (max-width: 900px) {
    .sidebar {
      left: -9999px;
      position: absolute;
      top: -9999px; } }

#image-rotator {
  height: 550px; }

.owl-carousel {
  border-bottom: 1px solid #d5d5d5; }

.owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto; }

.main-rotator {
  border-bottom: none;
  float: left;
  padding: 0; }
  .main-rotator img {
    width: 100%; }
  @media screen and (max-width: 900px) {
    .main-rotator.three-of-four {
      width: 100%; } }

.products {
  font-size: 20px;
  line-height: 3;
  padding: 1rem; }
  .products a {
    color: #dd0017; }

.item-info {
  border-top: 1px solid #cfcfcf;
  line-height: 1.4;
  margin: 1.2rem .6rem .6rem .6rem;
  min-height: 80px;
  padding: 1rem .6rem; }
  .item-info:hover {
    background: #f7f7f7;
    border-color: #f7f7f7; }
  .item-info span {
    width: 100%; }

.item {
  display: block;
  font-size: 12px;
  font-weight: 500; }

.vendor {
  display: block;
  font-weight: 300; }
  .vendor a {
    font-weight: 500; }

.sale-price {
  display: block;
  font-size: 14px;
  font-weight: bold; }

.price {
  color: #999;
  display: block;
  font-size: 12px;
  text-decoration: line-through; }

.policies div {
  background: #f2f2f2;
  color: black;
  font-size: 22px;
  font-weight: 300;
  margin: 14px 5px;
  min-height: 115px;
  padding: 15px; }
  .policies div:first-child:hover {
    background: #64d2f1; }
  .policies div:hover {
    background: #e59ac2;
    color: white; }
    .policies div:hover p {
      color: white; }
  .policies div:last-child:hover {
    background: #ff5800; }
  .policies div p {
    color: #999;
    font-size: 12px;
    line-height: 17px;
    margin-top: 12px; }

#search-label {
  position: relative; }

.icon-search {
  color: #666;
  font-size: 20px;
  left: 5px;
  position: absolute;
  top: 20px;
  z-index: 111; }

input[type="search"] {
  border-radius: 2px;
  background: white;
  border: 1px solid #b6b8b7;
  color: #666;
  font-size: 14px;
  height: 38px;
  padding: 0 0 0 36px;
  position: relative;
  margin-top: 12px; }
  @media screen and (max-width: 860px) {
    input[type="search"] {
      width: 109px; } }

select, input, textarea, button {
  font: 99% "Helvetica Neue",Helvetica,Arial,sans-serif;
  outline: 0; }

@media screen and (max-width: 860px) {
  .search {
    float: right; } }
