    <div id="men-nav" class="row popup-nav">
        <span class="one-of-four col">
            <ul class="accessories border-bottom">
                <a href="#"><li class="category">Small Accessories</li></a>
                <a href="#"><li>Wallets</li></a>
                <a href="#"><li>Eyewear</li></a>
                <a href="#"><li>Men's Ties &amp; Bowties</li></a>
                <a href="#"><li>Hats</li></a>
                <a href="#"><li>Belts</li></a>
                <a href="#"><li>Formal Accessories</li></a>
            </ul>
            <ul class="outerwear">
                <a href="#"><li class="category">Outerwear &amp; Cold Weather</li></a>
                <a href="#"><li>Lightweight &amp; Rain</li></a>
                <a href="#"><li>Wool &amp; Cashmere</li></a>
            </ul>
        </span>
        <span class="one-of-four col">
            <ul class="shirts border-bottom">
                <a href="#"><li class="category">Shirts &amp; Tees</li></a>
                <a href="#"><li>Tees</li></a>
                <a href="#"><li>Shirts</li></a>
                <a href="#"><li>Tanks</li></a>
            </ul>
            <ul class="bags">
                <a href="#"><li class="category">Bags &amp; Travel</li></a>
                <a href="#"><li>Overnight Bags</li></a>
                <a href="#"><li>Travel Accessories</li></a>
                <a href="#"><li>Backpacks</li></a>
                <a href="#"><li>Messenger Bags</li></a>
                <a href="#"><li>Suitcases</li></a>
                <a href="#"><li>Tote Bags</li></a>
            </ul>
        </span>
        <span class="one-of-four col">
            <ul class="shoes border-bottom">
                <a href="#"><li class="category">Shoes</li></a>
                <a href="#"><li>Sneakers</li></a>
                <a href="#"><li>Boots</li></a>
                <a href="#"><li>Oxfords</li></a>
                <a href="#"><li>Sandals &amp; Flip Flops</li></a>
                <a href="#"><li>Slippers</li></a>
            </ul>
            <ul class="pants">
                <a href="#"><li class="category">Pants &amp; Shorts</li></a>
                <a href="#"><li>Shorts</li></a>
                <a href="#"><li>Pants</li></a>
                <a href="#"><li>Denim</li></a>
            </ul>
        </span>
        <span class="one-of-four col menu-image">
            <img src="../assets/images/menu-men.png" />
            <a href="#" class="shop-all">Shop all Men <span class="icon-right-open-big"></span></a>
        </span>
    </div>