    <div id="fun-nav" class="row popup-nav">
        <span class="one-of-four col">
            <ul class="tech border-bottom">
                <a href="#"><li class="category">Tech &amp; Gadgets</li></a>
                <a href="#"><li>Smartphone Accessories</li></a>
                <a href="#"><li>Hardware &amp; Accessories</li></a>
                <a href="#"><li>Music Players &amp; Speakers</li></a>
                <a href="#"><li>Tablet Accessories</li></a>
                <a href="#"><li>Laptop Accessories</li></a>
            </ul>
            <ul class="youngsters">
                <a href="#"><li class="category">Girls</li></a>
                <a href="#"><li>Boys</li></a>
                <a href="#"><li>Baby</li></a>
            </ul>
        </span>
        <span class="one-of-four col">
            <ul class="books border-bottom">
                <a href="#"><li class="category">Book &amp; Media</li></a>
                <a href="#"><li>Books</li></a>
                <a href="#"><li>Magazines</li></a>
                <a href="#"><li>Multimedia</li></a>
            </ul>
            <ul class="toys">
                <a href="#"><li class="category">Toys &amp; Novelty</li></a>
                <a href="#"><li>Games &amp; Puzzles</li></a>
                <a href="#"><li>Plush</li></a>
                <a href="#"><li>Collectibles</li></a>
                <a href="#"><li>Arts &amp; Crafts</li></a>
                <a href="#"><li>Costumes &amp; Masks</li></a>
                <a href="#"><li>Novelty Small</li></a>
            </ul>
        </span>
        <span class="one-of-four col">
            <ul class="outdoor border-bottom">
                <a href="#"><li class="category">Outdoor Recreation</li></a>
                <a href="#"><li>Athletic Equipment &amp; Accessories</li></a>
                <a href="#"><li>Outdoor Toys</li></a>
                <a href="#"><li>Camping</li></a>
                <a href="#"><li>Pool &amp; Beach</li></a>
                <a href="#"><li>Automotive</li></a>
            </ul>
            <ul class="pets">
                <a href="#"><li class="category">Pets</li></a>
                <a href="#"><li>Dogs</li></a>
                <a href="#"><li>Beds, Crates &amp; Gear</li></a>
                <a href="#"><li>Collars &amp; Leashes</li></a>
                <a href="#"><li>Cats</li></a>
            </ul>
        </span>
        <span class="one-of-four col menu-image">
            <img src="../assets/images/menu-fun.png" />
            <a href="#" class="shop-all">Shop all Fun <span class="icon-right-open-big"></span></a>
        </span>
    </div>