    <div id="fab-nav" class="row popup-nav">
        <span class="one-of-four col">
            <ul class="browse">
                <a href="#"><li class="category">Browse By Category</li></a>
                <a href="#"><li>Bath</li></a>
                <a href="#"><li>Beds &amp; Mattresses</li></a>
                <a href="#"><li>Desks</li></a>
                <a href="#"><li>Fab Frames</li></a>
                <a href="#"><li>Home Accents</li></a>
                <a href="#"><li>Lighting</li></a>
                <a href="#"><li>Luggage</li></a>
                <a href="#"><li>Men's Tees</li></a>
                <a href="#"><li>Pillows &amp; Throws</li></a>
                <a href="#"><li>Quilts &amp; Coverlets</li></a>
            </ul>
        </span>
        <span class="one-of-four col">
            <ul class="browse">
                <a href="#"><li>Rugs</li></a>
                <a href="#"><li>Sheets &amp; Pillowcases</li></a>
                <a href="#"><li>Tables</li></a>
                <a href="#"><li>Tabletop &amp; Entertaining</li></a>
                <a href="#"><li>Wall Decor</li></a>
                <a href="#"><li>Women's Tees</li></a>
                <a href="#"><li>Women's Tote Bags</li></a>
                <a href="#"><li>Workspace</li></a>
            </ul>
        </span>
        <span class="one-of-four col">
            <ul class="featured">
                <a href="#"><li class="category">Featured Collaborations</li></a>
                <a href="#"><li>Albers x Fab</li></a>
                <a href="#"><li>Quinze &amp; Milan x Andy Warhol x Fab</li></a>
                <a href="#"><li>Areaware x Fab</li></a>
                <a href="#"><li>Milton Glaser x Fab</li></a>
            </ul>
        </span>
        <span class="one-of-four col menu-image">
            <img src="../assets/images/menu-fab.png" />
            <a href="#" class="shop-all">Shop all Only on Fab <span class="icon-right-open-big"></span></a>
        </span>
    </div>