    <div id="home-nav" class="popup-nav">
        <span class="one-of-four col">
            <ul class="home border-bottom">
                <a href="#"><li class="category">Home Accessories</li></a>
                <a href="#"><li>Home Accents</li></a>
                <a href="#"><li>Stationery &amp; Workspace</li></a>
                <a href="#"><li>Bedding</li></a>
                <a href="#"><li>Bath</li></a>
                <a href="#"><li>Patio &amp; Garden</li></a>
            </ul>
            <ul class="kitchen">
                <a href="#"><li class="category">Kitchen &amp; Tabletops</li></a>
                <a href="#"><li>Tabletops &amp; Entertaining</li></a>
                <a href="#"><li>Cook &amp; Prep</li></a>
                <a href="#"><li>Food</li></a>
            </ul>
        </span>
        <span class="one-of-four col">
            <ul class="rugs border-bottom">
                <a href="#"><li class="category">Rugs</li></a>
                <a href="#"><li>Tufted</li></a>
                <a href="#"><li>Flat Weave</li></a>
                <a href="#"><li>Indoor/Outdoor</li></a>
            </ul>
            <ul class="lighting">
                <a href="#"><li class="category">Lighting</li></a>
                <a href="#"><li>Tabletop Lighting</li></a>
                <a href="#"><li>Ceiling</li></a>
                <a href="#"><li>Accessories &amp; Bulbs</li></a>
                <a href="#"><li>Floor</li></a>
                <a href="#"><li>Wall</li></a>
                <a href="#"><li>Outdoor</li></a>
            </ul>
        </span>
        <span class="one-of-four col">
            <ul class="furniture border-bottom">
                <a href="#"><li class="category">Furniture</li></a>
                <a href="#"><li>Chairs</li></a>
                <a href="#"><li>Stools &amp; Ottomans</li></a>
                <a href="#"><li>Tables</li></a>
                <a href="#"><li>Storage</li></a>
                <a href="#"><li>Sofas</li></a>
            </ul>
            <ul class="art">
                <a href="#"><li class="category">Art</li></a>
                <a href="#"><li>Prints</li></a>
                <a href="#"><li>Ready to Hang</li></a>
                <a href="#"><li>Reproductions</li></a>
                <a href="#"><li>Photography</li></a>
            </ul>
        </span>
        <span class="one-of-four col menu-image">
            <img src="../assets/images/menu-home.png" />
            <a href="#" class="shop-all">Shop all Home <span class="icon-right-open-big"></span></a>
        </span>
    </div>