    <div id="fun-nav" class="row popup-nav">
        <span class="one-of-four col">
            <ul class="shoes border-bottom">
                <a href="#"><li class="category">Shoes</li></a>
                <a href="#"><li>Clogs</li></a>
                <a href="#"><li>Wedges</li></a>
                <a href="#"><li>Boots &amp; Booties</li></a>
                <a href="#"><li>Sandals &amp; Flip Flops</li></a>
                <a href="#"><li>Sneaker</li></a>
                <a href="#"><li>Heels</li></a>
            </ul>
            <ul class="outerwear">
                <a href="#"><li class="category">Outerwear &amp; Cold Weather</li></a>
                <a href="#"><li>Lightweight &amp; Rain</li></a>
                <a href="#"><li>Quilted &amp; Puffers</li></a>
                <a href="#"><li>Wool &amp; Cashmere</li></a>
            </ul>
        </span>
        <span class="one-of-four col">
            <ul class="dresses border-bottom">
                <a href="#"><li class="category">Tops &amp; Dresses</li></a>
                <a href="#"><li>Tops</li></a>
                <a href="#"><li>Dresses</li></a>
            </ul>
            <ul class="jewelry">
                <a href="#"><li class="category">Jewelry</li></a>
                <a href="#"><li>Necklaces</li></a>
                <a href="#"><li>Bracelets</li></a>
                <a href="#"><li>Earrings</li></a>
                <a href="#"><li>Rings</li></a>
                <a href="#"><li>Body Jewelry &amp; Pins</li></a>
                <a href="#"><li>Jewelry Storage</li></a>
            </ul>
        </span>
        <span class="one-of-four col">
            <ul class="bottoms border-bottom">
                <a href="#"><li class="category">Bottoms</li></a>
                <a href="#"><li>Denim</li></a>
                <a href="#"><li>Pants</li></a>
                <a href="#"><li>Skirts</li></a>
                <a href="#"><li>Shorts</li></a>
                <a href="#"><li>Leggings</li></a>
            </ul>
            <ul class="accessories">
                <a href="#"><li class="category">Accessories</li></a>
                <a href="#"><li>Bags &amp; Travel</li></a>
                <a href="#"><li>Small Accessories</li></a>
                <a href="#"><li>Watches</li></a>
            </ul>
        </span>
        <span class="one-of-four col menu-image">
            <img src="../assets/images/menu.png" />
            <a href="#" class="shop-all-women">Shop all Women <span class="icon-right-open-big"></span></a>
        </span>
    </div>