/* Grid */
.row {
    @include clearfix;
    width: 100%;
}

.col {
    float: left;
}

.one-of-twelve {
    margin: 0 1% 1% 0; /* 5px/1000px */
    width: 7.41%; /* [(1000/12)-10]/100 : [(width/# of columns)-margin]/100*/
    &:last-child {
        margin-right: 0;
    }
}

.one-of-six, .two-of-twelve {
    margin: 0 2% 2% 0; /* 10px/1000px */
    width: 15%; /* .one-of-twelve width*2 */
    &:last-child {
        margin-right: 0;
    }
}

.one-of-five {
    margin: 0 2% 2% 0;
    width: 17.5%;
}

.three-of-five {
    margin: 0 2% 2% 0;
    width: 52.5%;
}

.one-of-four {
    margin: 0 2% 2% 0; /* 15px/1000px */
    width: 23.5%; /* .one-of-twelve width*3 */
    &:last-child {
        margin-right: 0;
    }
}

.three-of-four, .nine-of-twelve {
    margin: 0 2% 2% 0;
    width: 73.5%; /* .one-of-four width * 3 */
    &:last-child {
        margin-right: 0;
        width: 73.5%;
    }
}

.one-of-three, .two-of-six {
    margin: 0 2% 2% 0; /* 20px/1000px */
    width: 32%; /* .one-of-twelve width*4 */
    &:last-child {
        margin-right: 0;
    }
    // Switch to 100% at 740px

    @media (max-width: 740px) {
        min-height: 150px;
    }

    @media (max-width: 635px) {
        width: 98%;
    }
}

.two-of-three {
    margin: 0 2% 2% 0;
    width: 64%; /* .one of three * 2 */
    &:last-child {
        margin-right: 0;
    }
}

.one-of-two, .three-of-six {
    margin: 0 2% 2% 0; /* 30px/1000px */
    width: 49%; /* .one-of-twelve width*6 */
    &:last-child {
        margin-right: 0;
    }

    @media screen and (max-width: 540px) {
        width: 100%;
    }
}

.one-of-one {
    width: 100%;
}