    <nav id="top-nav" class="row">
        <span class="icon-menu-1"></span>
        <ul class="accordion">
            <li id="women">
                <a href="#" class="accordion-trigger">
                    <h3>Women<span class="icon-down-dir"></span></h3>
                </a>
                {% include nav/popup/_popupnav-women.html %}
            </li>
            <li id="men">
                <a href="#" class="accordion-trigger">
                    <h3>Men<span class="icon-down-dir"></span></h3>
                </a>
                {% include nav/popup/_popupnav-men.html %}
            </li>
            <li id="home">
                <a href="#" class="accordion-trigger">
                    <h3>Home<span class="icon-down-dir"></span></h3>
                </a>
                {% include nav/popup/_popupnav-home.html %}
            </li>
            <li id="fun">
                <a href="#" class="accordion-trigger">
                    <h3>Fun<span class="icon-down-dir"></span></h3>
                </a>
                {% include nav/popup/_popupnav-fun.html %}
            </li>
            <li id="fab-only">
                <a href="#" class="accordion-trigger">
                    <h3>Only On Fab<span class="icon-down-dir"></span></h3>
                </a>
                {% include nav/popup/_popupnav-fab.html %}
            </li>
            <li id="sale" class="sale">
                <a href="#" class="accordion-trigger">
                    <h3>On Sale<span class="icon-down-dir"></span></h3>
                </a>
                {% include nav/popup/_popupnav-sale.html %}
            </li>
        </ul>
    </nav>