<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Fab Responsive Restructuring</title>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Maven+Pro:500,700' rel='stylesheet' type='text/css'>
    <link href="sass/style.css" rel="stylesheet">
	<!-- Important Owl stylesheet -->
	<link rel="stylesheet" href="sass/vendor/owl.carousel.css">
	<!-- Default Theme -->
	<link rel="stylesheet" href="sass/vendor/owl.theme.css">
</head>

<body>

    {{ content }}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- <script src="javascripts/libs/jquery-ui-1.10.3.custom.min.js"></script>-->
<!-- Owl Carousel plugin -->
<script src="javascripts/plugins/owl.carousel.js"></script>

<script src="javascripts/app.js"></script>

</body>

</html>

